@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Menú</h2>
<ul>
    <li><a href="/IdeaNegocio/IdeaMasDepartamentos">Mostrar idea de negocio que impacta más departamentos</a></li>
    <li><a href="/IdeaNegocio/IdeaMayorIngresos">Mostrar idea de negocio con mayor total de ingresos en 3 años</a></li>
    <li><a href="/IdeaNegocio/Top3Rentables">Mostrar las 3 ideas de negocio más rentables</a></li>
    <li><a href="/IdeaNegocio/IdeasMasTresDepartamentos">Mostrar ideas de negocio que impactan más de 3 departamentos</a></li>
    <li><a href="/IdeaNegocio/SumaTotalIngresos">Mostrar suma total de ingresos de todas las ideas de negocio</a></li>
    <li><a href="/IdeaNegocio/SumaTotalInversion">Mostrar suma total de inversión en todas las ideas de negocio</a></li>
    <li><a href="/IdeaNegocio/IdeaConMasHerramientas4RI">Mostrar idea de negocio con más herramientas 4RI y su equipo</a></li>
    <li><a href="/IdeaNegocio/CantidadIdeasConIA">Mostrar cantidad de ideas de negocio con Inteligencia Artificial</a></li>
    <li><a href="/IdeaNegocio/IdeasConDesarrolloSostenible">Mostrar ideas de negocio con impacto de "Desarrollo sostenible"</a></li>
</ul>